# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.nuxt/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
*node_modules/
.DS_Store
.envrc
.python-version

# Serverless directories
.serverless
